.link {
    margin: 0px 10px;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 10%;
    color: black;
    transition: background-color .5s ease;
}

.link:hover {
    background-color: pink;
    box-shadow: '5px 1px 5px black';
}